.container {
    max-width: 1024px;
}

.composit-wrapper > div > .composit {
    width: 100%;
}

.composit {
    border: 1px solid #000;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.09);
}

.composit-property {
    margin: 5px;
}

.composit-property h5 {
    margin: 5px;
}

.composit-child {
    min-width: 33%;
    vertical-align: top;
    display: inline-block;
}

.composit input
{
    margin: 5px 0px 5px 5px;
    padding: 2px 5px;
    background-color: #eee;
    border: 1px solid #e0e0e0;
    width: calc(70% - 13px);
}

.composit button
{
    width: calc(30% - 7px);
    margin: 5px;
    padding: 0px;
}

.composit-child h5 {
    margin: 5px;
}